/* Reset some default browser styles */
body, h1, ul, li, form, input, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

header {
  background-color: #933131;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input[type="text"], input[type="number"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #933131;
  color: #fff;
  cursor: pointer;
  margin-top: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

#error-message {
  margin-bottom: 20px;
}

#action-buttons {
  text-align: center;
}

button#mark-completed {
  background-color: #4CAF50;
}

button#delete-completed {
  background-color: #f44336;
}
button#mark-completed, button#delete-completed {
  margin-right: 0; /* Remove right margin */
}

button#mark-completed, button#delete-completed {
  margin-right: 10px;
}
footer {
  background-color: #933131;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top:50vh;
}
/* Media queries*/
@media only screen and (max-width: 768px) {
  main {
    max-width: 100%;
    padding: 10px;
  }
}